<div class="image-detail">
    <div class="image-container">
      <img [src]="imageUrl" alt="Image">
    </div>
    <div *ngIf="comments.length > 0" class="comments-container">
      <h2>Commentaires</h2>
      <ul>
        <li *ngFor="let comment of comments">
          <p>{{ comment.text }} - {{ comment.author_id }} ({{ comment.date | date }})</p>
        </li>
      </ul>
    </div>
    <script>
      window.onload = function() {
          fetch('http://localhost:3000/utilisateur-connecte')
              .then(response => response.json())
              .then(data => {
                  if (data.username) {
                      document.getElementById('username-container').innerText = `Utilisateur connecté : ${data.username}`;
                  } else {
                      document.getElementById('username-container').innerText = "Aucun utilisateur connecté";
                  }
              })
              .catch(error => console.error('Erreur lors de la récupération de l\'utilisateur connecté :', error));
      }
  </script>
</div>